%h3 Current Hoarde
%p
  - if account[:exalted]>0
    ="Worth at least #{account[:exalted]} x "
    %img{ :src => "http://www.poeex.info/images/exalted.png" }
    =" and #{account[:chance]} x "
    %img{ :src => "http://www.poeex.info/images/chance.png" }
  - else
    ="Worth at least #{account[:chance]} x "
    %img{ :src => "http://www.poeex.info/images/chance.png" }
%ul
  -for name in account[:money][:orbs].keys.sort
    %li{ :style => "display: inline; padding: 0 10px", :title => name}
      %img{ :src => account[:icons][name]}
      %span
        =" X #{account[:money][:orbs][name]}"
%ul
  -for name in account[:money][:other].keys.sort
    %li{ :style => "display: inline; padding: 0 10px", :title => name}
      %img{ :src => account[:icons][name]}
      %span
        =" X #{account[:money][:other][name]}"
%p="Updated at #{Time.now}"
- val_str_hash = { 1=> 'rare, magic', 2=> 'rare, normal', 3=>'rare', 4 => 'magic, normal', 5 => 'magic', 6 => 'normal', 7 => 'TURN ME IN', 8 => 'rare, magic, normal',  9=> 'rare, magic', 10=>'rare, normal', 11 => 'rare', 12 => 'magic, normal', 13 => 'magic', 14 => 'normal', 15 => 'TURN ME IN' }
%h3 Has Unique
%table
  - for name in account[:unique].keys.sort
    %tr
      %td
        =name
      %td
        =val_str_hash[ account[:unique][name] ]
%h3 Has Rare
%table
  - for name in account[:rare].keys.sort
    %tr
      %td
        =name
      %td
        =val_str_hash[ account[:rare][name] ]
%h3 Misc Identified
%ul
  - for cname, clist in account[:identified]
    - if clist.length>0
      %h4
        =cname
      - for name in clist
        %li
          =name
%h3 Has Neither
%table
  - for name in account[:other].keys.sort
    %tr
      %td
        =name
      %td
        =val_str_hash[ account[:other][name] ]
